/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f9;
}
h1, h2 {
    text-align: center;
}

/* Hero Section */
.hero {
    background: url('path/to/hero-image.jpg') center/cover no-repeat;
    height: 10vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.hero-content {
    margin-top: 20px;
}
.hero h1 {
    font-size: 2.5em;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: opacity 0.3s;
}
.nav-links li a:hover {
    opacity: 0.7;
}

/* Projects Section */
.projects {
    padding: 60px;
}
.projects-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.project-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 250px;
    text-align: center;
    overflow: hidden;
}
.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.project-card h3 {
    margin: 15px 0;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 90px;
    flex-wrap: wrap;
}
.about-content img {
    width: 300px;
    border-radius: 10px;]
    align-item: center;
}

/* Contact Section */
.contact {
    padding: 20px;
    background: #34345b;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}
.contact input, .contact textarea {
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.contact button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}
